- form_tag login_path do
  .field
    = label_tag :email, 'My email address is'
    = text_field_tag :email
  .field
    = radio_button_tag :existing, 1, true
    = label_tag 'existing_1', "I've already got an account, and my password is"
    = password_field_tag :password
  .field
    = radio_button_tag :existing, 0, false
    = label_tag 'existing_0', "I'm a new user"
  .field
    = submit_tag 'Login'