%h1= t('.title')

= form_for [:distribute, @user_session] do |form|
  - if @user_session.errors.present?
    .errors
      = @user_session.errors.full_messages.to_sentence.concat('.')
  .fields
    .field
      = form.label :email
      = form.email_field :email, :autofocus => true
    .field
      = form.label :password
      = form.password_field :password
  .buttons
    = form.submit

