%table
  %tr
    %th Distributor
    %th Order
    %th Donor
    %th Donation
    %th Made By
    %th On
    %th Received
    %th Shipped
  - Order.unshipped.each do |order|
    %tr
      %td= order.distributor
      %td= link_to truncate(order.token, 5, ''), order_path(order.distributor, order)
      %td= order.name
      %td= order.total.format(:with_currency)
      %td= n order.donation_method
      %td= n order.donation_created_at
      %td= n order.donation_received_at
      %td= n order.shipped_at
  - Order.shipped.each do |order|
    %tr
      %td= order.distributor
      %td= link_to truncate(order.token, 5, ''), order_path(order.distributor, order)
      %td= order.name
      %td= order.total.format(:with_currency)
      %td= n order.donation_method
      %td= n order.donation_created_at
      %td= n order.donation_received_at
      %td= n order.shipped_at
