%table
  %tr
    %th Country
    %th Order
    %th Donor
    %th Amount
    %th Made By
    %th On
    %th Received By
    %th On
    %th Shipped By
    %th On
  - Order.unshipped.each do |order|
    %tr
      %td= order.country
      %td= link_to truncate(order.token, 5, ''), order
      %td= order.name
      %td= order.total.format(:with_currency)
      %td= n order.donation_method
      %td= n order.donation_created_at
      %td= n order.donation_recipient
      %td= n order.donation_received_at
      %td= n order.shipper
      %td= n order.shipped_at
  - Order.shipped.each do |order|
    %tr
      %td= order.country
      %td= link_to truncate(order.token, 5, ''), order
      %td= order.name
      %td= order.total.format(:with_currency)
      %td= n order.donation_method
      %td= n order.donation_created_at
      %td= n order.donation_recipient
      %td= n order.donation_received_at
      %td= n order.shipper
      %td= n order.shipped_at
