%section[@order]
  %h1= t('.title')
  = render('orders/order', :order => @order)

  = form_tag store_checkout_paypal_path(@store), :method => :put do
    .buttons
      = hidden_field_tag :token,   params[:token]
      = hidden_field_tag :PayerID, params[:PayerID]
      = submit_tag t('.submit')
