!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => Cards::Application.config.encoding}
    %title= t('.title')
    = csrf_meta_tag
    = stylesheet_link_tag 'screen'
  %body
    %nav
      .session
        = t('.nav.identity.signed_in_as')
        %span.identity= current_user.email
        &mdash;
        = t('.nav.identity.sign_out_prompt')
        = link_to t('.nav.identity.sign_out'), admin_destroy_user_session_path
      %ul
        %li= link_to t('.nav.products'), admin_products_path
    = yield
