!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => Cards::Application.config.encoding}
    %title= t('.title')
    = csrf_meta_tag
    = stylesheet_link_tag 'screen'
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
  %body
    = render('layouts/flash', :flash => flash) if flash.present?
    %nav
      .session
        = t('.nav.identity.signed_in_as')
        %span.identity= current_user.email
        &mdash;
        = t('.nav.identity.sign_out_prompt')
        = link_to t('.nav.identity.sign_out'), admin_destroy_user_session_path
      %ul
        %li= link_to t('.nav.accounts'), admin_accounts_path
        %li= link_to t('.nav.stores'), admin_stores_path
        %li= link_to t('.nav.users'), admin_users_path
    = yield
