%h1= @store.name

%section
  %h2= t('.products')

  %table#products
    %tbody
      - @store.products.each do |product|
        %tr[product]
          %td= link_to(product.name, admin_product_path(product))
          %td= product.quantity

  %p= link_to t('.new.product'), new_admin_store_product_path(@store)

%section
  %h2= t('.distributors')
  %ul
    - @store.distributors.each do |user|
      %li[user]= user.email
    %li= link_to t('.edit'), edit_admin_store_path(@store)
