%tr
  %td= link_to truncate(line.order.token, :length => 5, :omission => ''), distributor_batch_path(@distributor, line)
  %td= line.order.name
  %td= m line.order.total
  %td= n line.order.donation_method
  %td= n line.order.donation_created_at
  %td= n line.order.donation_received_at
  %td= n line.shipped_at
