- items ||= order.items
%table.list
  %thead
    %tr
      %th Item
      %th
      %th Suggested<br />Donation
      %th Quantity
      %th Subtotal
      - unless order.new_record?
        %th Shipped?
  %tbody
    - items.each do |item|
      %tr{:class => cycle('odd', 'even')}
        %td= item.product_name
        %td= item.variant_description
        %td.number= m item.variant_price
        %td.number= item.quantity
        %td.number= m item.total
        - unless order.new_record?
          %td= item.batch.shipped? ? 'Yes' : 'No'
  %tfoot
    - if order.additional_donation_amount > 0
      %tr.additional_donation
        %td.label{:colspan => 4} Additional Donation
        %td.number= m order.additional_donation
      - unless order.new_record?
        %td
    %tr.total
      %td.label{:colspan => 4} Total Donation
      %td.number= m order.total
      - unless order.new_record?
        %td
    - if order.new_record?
      %tr
        %td{:colspan => 5}
          = link_to '&laquo; Update Quantities or Make an Additional Donation', cart_path
