%table
  %thead
    %tr
      %th
      %th
      %th Unit
      %th Qty
      %th Total
  %tbody
    - order.items.each do |item|
      %tr
        %td= item.product_name
        %td= item.variant.name
        %td= item.variant.price.exchange_to(order.currency)
        %td= item.quantity
        %td= item.total.exchange_to(order.currency)
  %tfoot
    %tr
      %td
      %td
      %td
      %td
      %td= order.total.exchange_to(order.currency)

- if order.new_record?
  %ul
    %li= link_to 'Update Quantities', edit_cart_path
