%table
  %thead
    %tr
      %th
      %th
      %th Unit
      %th Qty
      %th Total
  %tbody
    - order.items.each do |item|
      %tr
        %td= item.product_name
        %td= item.variant_description
        %td= m item.variant_price
        %td= item.quantity
        %td= m item.total
  %tfoot
    %tr
      %td
      %td
      %td
      %td
      %td= m order.total

- if order.new_record?
  %ul
    %li= link_to 'Update Quantities', cart_path
