%table
  %tr
    %th Unshipped
  %tr
    %th Country
    %th Order
    %th Donor
    %th Amount
    %th Paid By
    %th On
    %th Received On
    %th Shipped By
    %th On
  - Order.unshipped.each do |order|
    %tr
      %td= order.country
      %td= link_to truncate(order.token, 5, ''), order
      %td= order.name
      %td= order.total.format(:with_currency)
      %td= order.payment_method
      %td= order.payment_created_at
      %td= order.payment_received_at
  %tr
    %th Shipped
  - Order.shipped.each do |order|
    %tr
      %td= order.country
      %td= link_to truncate(order.token, 5, ''), order
      %td= order.name
      %td= order.total.format(:with_currency)
      %td= order.payment_method
      %td= order.payment_created_at
      %td= order.payment_received_at
      %td= order.shipper
      %td= order.shipped_at
