%table
  %tr
    %th Country
    %th Order
    %th Donor
    %th Amount
    %th Paid By
    %th On
    %th Received By
    %th On
    %th Shipped By
    %th On
  - Order.unshipped.each do |order|
    %tr
      %td= order.country
      %td= link_to truncate(order.token, 5, ''), order
      %td= order.name
      %td= order.total.format(:with_currency)
      %td= n order.payment_method
      %td= n order.payment_created_at
      %td= n order.payment_recipient
      %td= n order.payment_received_at
      %td= n order.shipper
      %td= n order.shipped_at
  - Order.shipped.each do |order|
    %tr
      %td= order.country
      %td= link_to truncate(order.token, 5, ''), order
      %td= order.name
      %td= order.total.format(:with_currency)
      %td= n order.payment_method
      %td= n order.payment_created_at
      %td= n order.payment_recipient
      %td= n order.payment_received_at
      %td= n order.shipper
      %td= n order.shipped_at
