= render :partial => @order
= render :partial => @order.address

- if @order.donation
  = render :partial => @order.donation
- else
  = render :partial => @order.donation_methods, :locals => { :order => @order }

- if @order.shipment
  = render :partial => @order.shipment
- else
  = render :partial => 'shipments/pending', :locals => { :order => @order }

- if current_user && @order.shipment.new_record?
  .danger
    %h2 Transfer Order
    %p If it seems like this Order should be handled by a different distributor, you can transfer it here:
    - @order.distributor.others.each do |distributor|
      - form_for @order, :url => order_path(current_distributor, @order), :html => { :onsubmit => "return #{confirm_javascript_function('Are you sure? This will transfer this Order and send an email to the Donor.')};" } do |f|
        .field
          = f.hidden_field :distributor_id, :value => distributor.id
        .field
          = f.submit "Transfer to #{distributor.name}, #{distributor.country}."

  .danger
    %h2 Cancel Order
    %p If you've heard from the donor that they made a mistake and don't want to have made this Order, then:
    - form_for @order, :url => order_path(current_distributor, @order), :html => { :method => :delete, :onsubmit => "return #{confirm_javascript_function('Are you sure? This will completely destroy this Order from the database and send an email to the Donor.')};" } do |f|
      .field= f.submit 'Cancel this Order.'