/ TODO don't pass :locals => { :order => @order } so much

= render :partial => 'orders/items', :locals => { :order => @order }
= render :partial => @order.address

- if @order.downloads.any?
  = render :partial => 'downloads/list', :locals => { :order => @order }

- if @order.payment
  = render :partial => @order.payment, :locals => { :order => @order }
- else
  = render :partial => @order.payment_methods, :locals => { :order => @order }

- if @order.shipment
  = render :partial => @order.shipment, :locals => { :order => @order }
- else
  = render :partial => 'shipments/pending', :locals => { :order => @order }