= render :partial => @order
= render :partial => @order.address

- if @order.donation
  = render :partial => @order.donation
- else
  = render :partial => @order.donation_methods, :locals => { :order => @order }

- if @order.shipment
  = render :partial => @order.shipment
- else
  = render :partial => 'shipments/pending', :locals => { :order => @order }