= render :partial => @order
= render :partial => @order.address

- if @order.donation
  = render :partial => @order.donation
- else
  = render :partial => @order.donation_methods, :locals => { :order => @order }

- if @order.shipped?
  .shipment
    %h2 Your order has shipped!
    %p= "We sent it your way <strong>#{@order.shipped_at.to_date.to_s(:long)}</strong>."
- else
  .shipment
    %h2 Your order has not yet shipped.
    %p We'll get it out to you in the next few days and send you an "Order Shipped" email when we do.
