.donation
  %h2= "Thank you for your donation!"

  - if donation.received_at
    %p= "We received it #{donation.received_at.to_date.to_s(:long)}."
  - else
    %p We'll let you know here when we've received it.
    %h3 Here are those details again:
    = textilize donation.donation_method.description
    - if current_user
      - form_for donation, :url => order_donation_path(current_distributor, donation.order) do |f|
        = f.hidden_field :received_at, :value => Time.now.to_s(:number)
        = f.submit 'I just received this donation.', :confirm => 'Are you sure?'