%section[cart]
  %h1= t('.title')

  %table.cart
    %tbody
      - cart.items.each do |item|
        %tr
          %td= item.name
          %td= item.quantity
          %td= item.price

  = form_tag checkout_paypal_path do
    .buttons
      = submit_tag t('helpers.submit.checkout_paypal.create')
