%table.cart
  %tbody
    - cart.items.each do |item|
      %tr
        %td= item.product_name
        %td= item.name
        %td= item.quantity
        %td= format_currency(item.price, cart.store.currency)
  %tfoot
    %tr
      %td{:colspan => 3}= t('.total')
      %td= format_currency(cart.total, cart.store.currency)
