%p
  You have
  = pluralize cart.quantity, 'item'
  in your cart:
%ul
  - cart.items.each do |item|
    %li
      = item.quantity
      = item.product_name
      = item.variant.name
      = item.total.exchange_to(current_currency)
%p
  Cart total:
  = cart.total.exchange_to(current_currency)

%ul
  %li= link_to 'Update Quantities', edit_cart_path
  %li= link_to 'Proceed to Checkout', checkout_path