%table.cart
  %tbody
    - cart.items.order(:created_at).each do |item|
      %tr[item]
        %td= item.product_name
        %td= item.name
        %td= item.quantity
        %td.price= format_currency(item.price, cart.store.currency)
        - if cart.mutable?
          %td= button_to(t('.remove'), [@store, item], :method => :delete)
        - if current_user.try(:distributor?)
          %td
            - if item.shipped_at?
              %time{:datetime => item.shipped_at.to_s(:html5)}
                = t('.time', :time => time_ago_in_words(item.shipped_at))
            - elsif defined?(f) && f.try(:respond_to?, :fields_for)
              = f.fields_for(:items, item) do |fields|
                = fields.check_box :shipped_at, {}, Time.zone.now.to_s(:db)
            - else
              &nbsp;

  %tfoot
    %tr
      %td.total{:colspan => 3}= t('.total')
      %td.price= format_currency(cart.total, cart.store.currency)
      - if cart.mutable?
        %td &nbsp;
      - if current_user.try(:distributor?)
        %td &nbsp;
