%section[cart]
  %h1= t('.title')

  %table#cart
    %tbody
      - cart.items.each do |item|
        %tr
          %td= item.name
          %td= item.quantity
          %td= item.price

  = form_tag checkout_root_path do
    .buttons
      = image_submit_tag 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif',
        :alt => t('helpers.submit.checkout.create')
