- form_for current_cart, :url => cart_path do |f|
  %table
    %thead
      %tr
        %th
        %th
        %th
        %th Quantity
        %th Total
    %tbody
      - current_cart.items.each do |item|
        %tr
          - fields_for item do |fields|
            %td= item.product_name
            %td= item.variant.name
            %td= item.variant.price.converted_to(current_currency)
            %td
              = fields.text_field :quantity
              = fields.hidden_field :id
            %td= item.total.converted_to(current_currency)
    %tfoot
      %tr
        %td
        %td
        %td
        %td
        %td= current_cart.total.converted_to(current_currency)

  = f.submit 'Update Quantities'