- form_for @cart, :url => cart_path do |f|
  %table
    %thead
      %tr
        %th
        %th
        %th Unit
        %th Qty
        %th Total
        %th
    %tbody
      - @cart.items.each do |item|
        %tr
          - fields_for 'items[]', item do |fields|
            %td= item.product_name
            %td= item.variant_description
            %td= item.variant_price
            %td= fields.text_field :quantity
            %td= item.total
            %td= link_to 'Remove', cart_item_path(current_distributor, item), :method => :delete
    %tfoot
      %tr
        %td
        %td
        %td
        %td
        %td= @cart.total

  %div
    = link_to 'Return to Shopping', distributor_root_path(current_distributor)
    = f.submit 'Update Quantities'
    = link_to 'Proceed to Checkout', new_order_path(current_distributor)

