- form_for @cart, :url => cart_path do |f|
  %table.list
    %thead
      %tr
        %th Item
        %th
        %th Suggested<br />Donation
        %th Quantity
        %th Subtotal
        %th
    %tbody
      - @cart.items.each do |item|
        %tr{:class => cycle('odd', 'even')}
          - fields_for 'cart[items_hash][]', item do |fields|
            %td= item.product_name
            %td= item.variant_description
            %td.number= m item.variant_price
            %td.number= fields.text_field :quantity, :size => 5
            %td.number= m item.total
            %td= link_to 'Remove', cart_item_path(current_distributor, item), :method => :delete
    %tfoot
      %tr.additional_donation
        %td.label{:colspan => 4} Additional Donation
        %td.number
          = f.text_field(:additional_donation_amount, :size => 5) + '.00'

      %tr.total
        %td.label{:colspan => 4} Total Donation
        %td.number= m @cart.total

      %tr
        %td{:colspan => 2}
          = link_to '&laquo; Continue Shopping', distributor_root_path(current_distributor)
          or
          = f.submit 'Update Quantities'
        %td.checkout{:colspan => 4}
          = link_to 'Proceed to Checkout &raquo;', new_order_path(current_distributor)

