/ TODO show payment and shipping information to the donor
/ TODO show Payment Received and Order Shipped buttons to the Distributor
.payment
  %h2= "Thank you, #{order.name}."

  - if payment.received_at
    %p= "We received your donation on #{payment.received_at.to_date.to_s(:long)}."
  - else
    %p We'll let you know here when we've received your donation.
    - if current_user
      - form_for payment, :url => order_payment_path(order) do |f|
        = f.hidden_field :received_at, :value => Time.now.to_s(:number)
        = f.submit 'I just received this payment.'