- form_for @address do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :line_one
  .field
    = f.text_field :line_two
  .field
    = f.text_field :line_three
  .field
    = f.text_field :line_four
  .field
    = f.label :country
    = f.country_select :country, ['United States', 'Canada', 'United Kingdom']
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.submit