.batch-order
  = render :partial => @order, :locals => {:highlight_batch => @batch}

%p
  = link_to("View entire order", order_path(@order.distributor, @order))

%div{:class => @batch.shipped? ? 'shipment attention' : 'shipment preferred'}
  %h2 Shipping
  = render :partial => @order.address
  - if @batch.shipped?
    %p
      This batch was shipped on
      %strong
        = @batch.shipped_at.to_s(:long)
    - form_for @batch, :url => unship_batch_path(@batch) do |f|
      .field
        = f.hidden_field :shipped_at, :value => nil
        = f.submit 'Oops! Cancel this shipment!', :confirm => 'Are you sure? This will send email to the Donor.'
  - else
    %p This batch has not yet been shipped.
    - form_for @batch, :url => ship_batch_path(@batch) do |f|
      .field
        = f.submit 'I just shipped this order.', :confirm => 'Are you sure? This will send an email to the Donor.'

%div{:class => @order.donation_received? ? 'attention' : 'donation' }
  %h2 Donation
  - if @order.donation_made?
    - if @order.donation_received?
      %p
        We received the donation for this order on
        %strong
          = @order.donation_received_at.to_s(:long)
    - else
      %p
        A donation was made for this order via
        %strong
          = @order.donation_method.name
        on
        = @order.donation_created_at.to_s(:long)

      - form_for @order.donation, :url => order_donation_path(@order.distributor, @order.donation.order) do |f|
        = f.hidden_field :received_at, :value => Time.now.to_s(:number)
        = hidden_field_tag :batch_id, @batch.id
        = f.submit 'I just received this donation.', :confirm => 'Are you sure?'
  - else
    %p A donation has not yet been made for this order

- if @order.cancellable?
  .danger
    %h2 Cancel Order
    %p If you've heard from the donor that they made a mistake and don't want to have made this Order, then:
    - form_for @order, :url => order_path(@order.distributor, @order), :html => { :method => :delete } do |f|
      .field
        = f.submit 'Cancel this Order.', :confirm => 'Are you sure? This will completely destroy this Order from the database and send an email to the Donor.'
