.product
  .image= image_tag product.image.path
  .content
    %h2= product.name
    = markdown product.description
    - form_for Item.new(:variant => product.variants.first) do |f|
      %table
        - product.variants.each do |variant|
          %tr
            %td.name
              = f.radio_button :variant_id, variant.id
              = f.label :variant_id, variant.name, :for => [:item, :variant_id, variant.id].join('_')
            %td.price
              = variant.price.exchange_to(current_currency)
      .button
        = f.submit 'Add to Cart'
