.card
  %h2= product.name
  = textilize(product.description)
  - form_for Item.new(:variant => product.variants.first) do |f|
    %ul
      - product.variants.each do |variant|
        .field
          = f.radio_button :variant_id, variant.id
          = f.label :variant_id, "#{variant.name} #{variant.price.converted_to(current_currency)}", :for => [:item, :variant_id, variant.id].join('_')
    = f.submit 'Add to Cart'
