%section[product]
  %h1= product.name

  %ul
    - product.packagings.each do |packaging|
      %li[packaging]
        %div= packaging.name
        %div= format_currency(packaging.price, product.store.currency)

        = form_for [@store, Item.new] do |form|
          .buttons
            = form.hidden_field :packaging_id, :value => packaging.id
            = form.submit
