%section[product]
  %h1= product.name
  %p= product.description
  %p= image_tag(product.image_path)

  %ul
    - product.packagings.order(:price).each do |packaging|
      %li[packaging]
        %div= packaging.name
        %div= format_currency(packaging.price, product.store.currency)

        = form_for [@store, Item.new] do |form|
          .buttons
            = form.hidden_field :packaging_id, :value => packaging.id
            = form.submit
