- if product.available?(current_distributor)
  .product
    .image= image_tag product.image.path
    .content
      %h2= product.name
      = textilize product.description
      - form_for Item.new(:variant => product.available_variants(current_distributor).first), :url => cart_items_path(current_distributor) do |f|
        %table
          - product.available_variants(current_distributor).each do |variant|
            %tr
              %td.name
                = f.radio_button :variant_id, variant.id
                = f.label :variant_id, variant.description, :for => [:item, :variant_id, variant.id].join('_')
                - if variant.running_low?(current_distributor)
                  %span.running_low Running low!
              %td.price
                = m variant.price.exchange_to(current_distributor.currency)
        .button
          = f.submit 'Add to Cart'
