.header
  = render :partial => 'currencies/selector'
  = render :partial => current_cart unless current_cart.blank?

.main
  = render :partial => 'layouts/welcome'
  = render :partial => @products

.footer
  = render :partial => 'layouts/thanks'
