%p
  You have
  = pluralize current_cart.quantity, 'item'
  in your
  = link_to 'cart.', edit_current_cart_path
%ul
  - current_cart.items.each do |item|
    %li
      = item.quantity
      = item.product_name
      = item.variant.name
      = item.total.converted_to(current_currency)
%p
  Cart total:
  = current_cart.total.converted_to(current_currency)
%p
  = link_to 'Checkout', checkout_path
