%ul.distributor
  %li= link_to_unless_current 'Distributor Home', distributors_path

  - Distributor.all.each do |distributor|
    - link_text = "#{distributor.country_code.upcase} Orders"
    - link_text << " (#{distributor.orders.unshipped.count} new)" if distributor.orders.unshipped.any?
    %li= link_to_unless_current link_text, distributor_path(distributor)

  %li
    Logged in as
    = current_user.name

  %li= link_to 'Log out', session_path, :method => :delete
