%ul.distributor
  - link_text = "#{current_user.country_code.upcase} Orders"
  - link_text << " (#{current_user.batches.unshipped.count} new)" if current_user.batches.unshipped.any?
  %li= link_to_unless_current link_text, distributor_path(current_user)

  %li
    Logged in as
    = current_user.name

  %li= link_to 'Log out', session_path, :method => :delete
