.sidebar
  .content
    %ul.distributors
      %li= link_to_country_code('United States', 'us')
      %li= link_to_country_code('Canada', 'ca')
      %li= link_to_country_code('United Kingdom', 'uk')

    .welcome
      %p The money raised through sales of Amani's Holiday Cards directly funds our education program. Amani paid for tuition, uniforms, textbooks, and school lunches for nearly 300 Tanzanian children in 2008.
      %p Education in Tanzania is meant to be free for children, but hidden mandatory fees make sending a child to school a luxury many families cannot afford. Only 54% of Tanzanian children finish elementary school and just 7% complete high school. By purchasing Amani Holiday Cards, you are making a difference in the lives of disadvantaged children.
      %p
        %strong
          Amani's Holiday Cards are ready to be shipped from the
          = link_to_country_code('United States', 'us') + ','
          = link_to_country_code('Canada', 'ca')
          and the
          = link_to_country_code('United Kingdom', 'uk') + ','
        so you're sure to receive your cards in plenty of time to send to your friends and family before the holiday season.

    .thanks
      %h2 Thank You
      %p Amani Children's Home thanks <a href="http://www.condrake.com/">Consolidated Drake Press</a> in Philadelphia, Pennsylvania for printing our holiday cards at a reduced price. We also thank Lori Banks for generously donating the full cost of this year's cards.
      %p Amani is deeply grateful to Libby Ventura and Adam Smith who donated their time and talent to design the Amani Holiday Cards. Thank you to Dina Sciarra, Shelley Malekia and Danielle Kozak for volunteering your time and energy to ensuring that this year's fundraiser is a success.
      %p Finally, we want to thank all of Amani's supporters for their continued support. Our work would not be possible without your loyal partnership. Asante sana&mdash;thank you very much!
