!!! XML
!!!
%html{html_attrs}
  %head
    %title Amani Christmas and Holiday Cards
    = stylesheet_link_tag('application')
  %body
    = render :partial => 'layouts/header'
    - if current_user
      = render :partial => 'layouts/administrator' if !current_user.distributor?
      = render :partial => 'layouts/distributor'   if current_user.distributor?
    = render :partial => 'layouts/sidebar'

    .main
      = render :partial => 'layouts/flash', :locals => { :flash => flash }
      = yield
