!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => 'utf-8'}
    %title Amani Christmas and Holiday Cards
    = stylesheet_link_tag('application')
  %body
    = render :partial => 'layouts/header'
    - if current_user
      = render :partial => 'layouts/administrator' if !current_user.distributor?
      = render :partial => 'layouts/distributor'   if current_user.distributor?
    = render :partial => 'layouts/sidebar'

    .main
      = render :partial => 'layouts/flash', :locals => { :flash => flash }
      = yield

    - if Rails.env.production?
      = javascript_include_tag 'http://www.google-analytics.com/ga.js'
      :javascript
        try {
          var pageTracker = _gat._getTracker("UA-7088176-2");
          pageTracker._trackPageview();
        } catch(err) {}
