!!! XML
!!!
%html{html_attrs}
  %head
    = stylesheet_link_tag('application')
  %body
    = render :partial => 'layouts/header'
    = render :partial => 'layouts/distributor' if current_user
    = render :partial => 'layouts/sidebar'
    = yield
